<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <header class="top-page-header">
      <%= render "top_header" %>
    </header>
    <div class="wrapper">
      <div class="side-bar">
        <%= render "messages/side_bar" %>
      </div>
    </div>
  </body>
</html>