.mypage-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}

.post {
  text-decoration: none;
  line-height: 32px;
  margin-right: 3vw;
  color: #737373;
  font-size: 20px;
}

.post-section {
  margin: 0 0 30px 0;
  color: #fff;
  text-align: center;
  padding-top: 50px;
}

.post-content {
  padding: 20px;
  color: #737373;
}

.post-text {
  white-space: pre-wrap;
  font-size: 18px;
}

h1 {
  letter-spacing: 2px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.image-upload {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 15px 0;
  float: right;
}

.image-upload p {
  margin-bottom: 15px;
}

.post-form {
  width: 980px;
  margin: 20px auto;
  padding: 60px;
  background-color: #F2F0EB;
  border: 2px solid #737373;
  border-radius: 5px;
  color: #737373;
  box-sizing: border-box;
  text-align: center;
}

.post-form_field {
  margin: 0 0 30px 0;
}

.post-form_field-left {
  float: left;
  width: 30%;
  padding-right: 20px;
  padding-left: 20px;
  box-sizing: border-box;
}

.post-form_label {
  display: block;
  line-height: 50px;
  font-weight: bold;
  text-align: right;
}

.post-form_field-right {
  float: right;
  width: 70%;
}

.post-form_input {
  float: left;
  width: 100%;
  line-height: 30px;
  padding: 10px 15px;
  box-sizing: border-box;
}

.post-form_action-btn {
  display: inline-block;
  padding: 12px 20px;
  color: #F2F0EB;
  background-color: #F28379;
  border: 0;
}


.post-form_field:after {
  content: "";
  clear: both;
  display: block;
}


.field_with_errors {
  display: contents;
}